<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proiect Baze de Date</title>
</head>
<body>
    <h1>Magazin online de carti</h1>
    <form action="/CerintaA" method="post">
        <button type="submit">Cerinta A</button>
    </form>
    <br>
    <form action="/CerintaB" method="post">
        <button type="submit">Cerinta B</button>
    </form>
    <br>
    <form action="/CerintaC" method="post">
        <button type="submit">Cerinta C</button>
    </form>
    <br>
    <form action="/CerintaD" method="post">
        <button type="submit">Cerinta D</button>
    </form>
    <br>
    <form action="/CerintaE" method="post">
        <button type="submit">Cerinta E</button>
    </form>
    <br>
    <form action="/CerintaF" method="post">
        <button type="submit">Cerinta F</button>
    </form>
</body>
</html>
